---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import CommonHead from "../components/commonHead.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, date, excerpt, image, tag } = Astro.props;
---

<html lang="en" class="[&>a]:underline">
  <head>
    <meta name="description" content={excerpt} />
    <title>{title} | Stefano Garavelli</title>
  </head>
  <CommonHead />
  <body>
    <Header />
    <article>
      <div class="lg:px-0 px-6 mt-48 mb-16 mx-auto max-w-3xl text-slate-700">
        <div class="prose">
          <p class="font-medium text-right text-sm"><FormattedDate date={date} /></p>
          <h1 class="pt-8 max-w-3xl text-6xl font-extrabold">{title}</h1>
          <h2 class="mt-16 text-xl font-bold uppercase">{tag}.<span class="font-medium normal-case"> {excerpt}</span></h2>
          <div class="mx-auto w-1024 h-auto my-16">
            <img
              width={1020}
              height={768}
              src={image}
              alt={title}
              class="w-auto h-auto mx-auto"
            />
          </div>
        </div>
        <div class="text-lg font-regular leading-7 [&>h2]:text-3xl [&>h2]:mt-8 [&>p>a]:text-blue-600 [&>p>a]:underline [&>h2]:font-bold [&>h3]:text-xl [&>h3]:mt-8 [&>h3]:font-bold [&>p]:mt-4 [&>blockquote]:bg-gray-200 [&>blockquote]:p-4 [&>blockquote]:my-4 [&>blockquote]:text-lg [&>pre]:my-4 [&>cpre]:bg-gray-300 [&>pre]:p-4">
        <slot />
      </div>
      </div>
    </article>
    <Footer />
  </body>
</html>
